:root {
    --background: #ffffff;
    --text-primary: #000;
    --text-secondary: #8e05c2;
    --accent: #bfb35a;
    --border: #333;
    --form-bg: #fff;
}

[data-theme='dark'] {
    --background: #000;
    --text-primary: #bfb35a;
    --text-secondary: #8e05c2;
    --accent: #8e05c2;
    --border: #808080;
    --form-bg: #191919;
}

/*ovo gore dodano*/


a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}
.headerStyle 
{
    background-color: var(--background);
    color: var(--text-primary);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: .8rem;
    transition: all .5s;
}
navStyle {
    background-color: #bfb35a !important;
    color: #162e40 !important;
    font-family: Cormorant;
}
html {
    font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
    
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
    background-color: #f9faec;
    font-family: YoungSerif;
}
@media (max-width: 767px) {
    .brand {
        display:none;
    }
   
    
    }