.greeting {
    margin-top: 5em;
    font-size: 1.5em;
    text-align:center;
}
.btn {
    background-color: #0e2036 !important;
    border-color: #dbd8bf !important;
    color: #dbd8bf !important;
    font-family: Metropolis !important;
}
    .btn:hover {
        background-color: #dbd8bf !important;
        color: #0e2036 !important;
    }
