/**maknuti ovo:*/
:root {
    --background: #ffffff;
    --text-primary: #000;
    --text-secondary: #8e05c2;
    --accent: #8e05c2;
    --border: #333;
    --form-bg: #fff;
}

.dark-theme {
    --background: #000;
    --text-primary: #fff;
    --text-secondary: #8e05c2;
    --accent: #8e05c2;
    --border: #808080;
    --form-bg: #191919;
}
/* Provide sufficient contrast against white background */
a {
    color: #9cc1eb;
}



body {
    font-family: NunitoSans;
    color: text-primary;
    background-color:form-bg;
}

@font-face {
    font-family: "YoungSerif"; /*Can be any text*/
    src: local("YoungSerif"), url("./fonts/YoungSerif-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "NunitoSans"; /*Can be any text*/
    src: local("YoungSerif"), url("./fonts/NunitoSans-VariableFont_YTLC,opsz,wdth,wght.ttf") format("truetype");
}
