
body {
    color:white;
    font-family: CenturyGothic;
    
}
p {
    font-family: CenturyGothic;
    color: white;
    padding: 3em 0.5em;
}

h1, h2, h3, h4, h5, h6 {
    color:white;
    font-family: Cormorant;
    
}


@font-face {
    font-family: "Cormorant"; /*Bilo koji naziv*/
    src: local("Cormorant"), url("./fonts/Cormorant-VariableFont_wght.ttf") format("truetype");
}
@font-face {
    font-family: "CenturyGothic"; /*Bilo koji naziv*/
    src: local("CenturyGothic"), url("./fonts/CenturyGothic.ttf") format("truetype");
}

