// Custom.scss
// Option A: Include all of Bootstrap

@import "node_modules/bootstrap/scss/bootstrap";


$body-font-family: "Metropolis";
$body-width:80%;
$body-color:white;

    // Bootstrap and its default variables
 @import "node_modules/bootstrap/scss/bootstrap";

 